#header-contenedor {
    background-color: #3F51B5;
    color: white;
}

.btn.btn-programacionxyz {
    background-color: #FF4081;
    color: white;
    margin-left: 5px;
}

.btn.btn-programacionxyz:hover {
    background-color: #455a64;
}

.btn.btn-programacionxyz:active {
    background-color: #FF4081;
}

.nav-link:hover {
    color: white;
}

.jumbotron-color {
    background-color: #4e565a86;
}

.container-color {
    color: white;
}

.jumbotron2-color {
    background-color: white;
}